/* Header
=================================*/
.accordion-header{padding: 15px; border-bottom: 1px solid #fff; cursor: pointer; overflow: hidden; position: relative; background-color: #f6f6f6; -webkit-tap-highlight-color: transparent; transition: background .2s linear}

.accordion-header .accordion-item-arrow:before{content: "\f107"; font-family: 'FontAwesome'; float: right; transition: all .2s linear}

.accordion-item.active .accordion-header .accordion-item-arrow:before {-ms-transform: rotate(180deg); -webkit-transform: rotate(180deg); transform: rotate(180deg)}

/* Content
=================================*/
.accordion-content {padding: 15px; display: none; background-color: #f6f6f6}